<h1>Hello, this is weather App</h1>
<% if (locals.content) { %>
    <h2><%= content.name %></h2>
    <h3> Temperature is <%= content.weather.temp2m %> &#176C</h3>
    <h3>It's a <%= content.weather.weather %></h3>
<% } %>